.loader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;
  color: var(--color-1000);
  background-color: var(--color-100);
}

.spinner {
  display: block;
  width: 24px;
  height: 24px;
  animation: 1s spin infinite linear;
}

html.dark .loader {
  color: var(--color-100);
  background-color: var(--color-1000);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
