body {
  overflow-x: hidden;
}

.app-view {
  display: grid;
  grid-template-columns: 250px auto;
  width: calc(100% + 250px);
  height: 100vh;
  left: -250px;
  position: absolute;
  transition: left 0.1s ease-in;
}

.app-view.si {
  left: -250px;
}

.app-view.sv {
  left: 0;
}

.app-view .content {
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}

.app-view .content .main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.app-view .content .main-wrapper .separator {
  background-color: var(--color-500);
  transition: background-color 0.1s ease-in;
}

.main-wrapper .separator,
.main-wrapper .preview-window {
  display: none;
}

.main-wrapper.only-preview .separator,
.main-wrapper.only-preview .editor-window {
  display: none;
}

.main-wrapper.only-preview .preview-window {
  display: grid;
}

html.dark .app-view .content .main-wrapper .separator {
  background-color: var(--color-600);
}

@media screen and (min-width: 768px) {
  .app-view .content .main-wrapper {
    grid-template-columns: 1fr 1px 1fr;
  }

  .app-view .content .main-wrapper.only-preview {
    grid-template-columns: 1fr;
  }

  .main-wrapper .separator,
  .main-wrapper .preview-window {
    display: grid;
  }
}
