@import url("./colors.css");

* {
  box-sizing: border-box;
  font-family: var(--roboto), system-ui, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-100);
  color: var(--color-1000);
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;
}

p {
  font-size: 0.938rem;
}

html.dark body {
  background-color: var(--color-1000);
  color: var(--color-100);
}
