.window {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.window header {
  background-color: var(--color-200);
  transition: background-color 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 38px;
}

.window header button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-500);
  width: 18px;
  height: 18px;
  padding: 0;
}

.window header button svg {
  width: 16px;
  height: 16px;
}

.window header h2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-500);
  transition: color 0.1s ease-in;
  margin: 0;
}

html.dark .window header {
  background-color: var(--color-900);
}

html.dark .window header h2 {
  color: var(--color-400);
}
