.app-view .sidebar {
  width: 250px;
  background-color: var(--color-900);
  padding: 24px;
  display: grid;
  gap: 24px;
  grid-template-rows: 20px min-content min-content 1fr auto;
}

.app-view .sidebar .docs-area-wrapper {
  position: relative;
}

.app-view .sidebar .docs-area-wrapper .docs-area {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  gap: 24px;
  user-select: none;
}

.docs-area .doc {
  text-decoration: none;
  color: var(--color-100);
  display: flex;
  align-items: center;
  gap: 12px;
}

.docs-area .doc .details .icon {
  width: 18px;
  height: 18px;
}

.docs-area .doc .details .icon svg {
  width: 18px;
  height: 18px;
}

.docs-area .doc .details span {
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--color-500);
}

.docs-area .doc .details p {
  margin: 0;
  margin-top: 4px;
}

.app-view .sidebar h2 {
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-500);
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .app-view .sidebar {
    grid-template-rows: min-content min-content 1fr auto;
  }
  .app-view .sidebar .logo-area {
    display: none;
  }
}
